body {
    color: white;
    padding: 0;
    margin: 0;
    background-color: black;
    animation: fadeIn 5s;
}
a {
    color: green;
    font-weight: 900;
    text-decoration: none;
}
.pa-banner {
    height: 11.5rem;
    background-color: rgba(0, 0, 0, 0.3);
}

.pa-navigation {
    background-color: rgba(225, 225, 225, 0.8);
}
.pa-navbar {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    padding: 0.5rem;
    background-color: rgba(0, 0, 0, 0.5);
}
.pa-brand {
    flex: 1;
    margin: 0rem;
    padding: 0.5rem;
    text-align: left;
}
.pa-logo {
    padding: 0.01rem;
    margin: 0;
}
.pa-logo img{
    float: inherit;
    margin: 0 5%;
    padding: 0.1re;
    border-radius: 0.5rem;
    width: 10%;
}
.pa-menu {
    display: none;
}
.pa-menu a {
    cursor: pointer;
    color: rgb(160, 28, 28);
}
.pa-links {
    flex: 0.5;
    padding: 0.1rem;
    margin: 0rem;
    display: flex;
    text-align: center;
}
.pa-link {
    margin: 1rem;
    text-align: right;
}
.pa-link a {
    color: rgb(160, 28, 28);
    margin: 0;
    padding: 0.2rem 0.5rem;
    font-size: 2.5rem;
    font-weight: 600;
    border-bottom: 0.05rem solid goldenrod;
    text-shadow: 0.15rem 0.15rem 0.1rem goldenrod;
}
.pa-link a:hover {
    background-color: rgba(225, 225, 225, 0.5);
}
.pa-manuo {
    color: black;
    padding: 0.1rem;
    border-radius: 0.5rem;
}

.pa-content-grid { 
    display: grid;
    grid-template-areas: 
      "header header header"
      "nav article ads"
      "nav article ads"
      "nav footer footer";
    grid-template-rows: auto 10rem 26vh auto;  
    grid-template-columns: 15% 1fr 20%;
    grid-row-gap: .5rem;
    grid-column-gap: .5rem;
    margin: 0;
    padding: 1rem;
    background-color: rgba(0, 0, 0, 0.3);
}  
#pageHeader {
    grid-area: header;
    border-radius: 0.5rem;
    background-color: rgba(225, 225, 225, 0.3);
}
.pa-header {
    text-align: center;
}
#pageFooter {
    grid-area: footer;
    border-radius: 0.5rem;
    background-color: rgba(225, 225, 225, 0.3);
}
.pa-footer {
    color: white;
    text-align: center;
}
.pa-docs {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 0.5rem;
}
.pa-docs div {
    padding: 0.15rem;
    margin: 0.5rem;
    background-color: rgba(0, 0, 0, 0.5);
}
.pa-reserved {
    color: green;
    padding: 0.5rem;
    margin: 0.5rem;
    background-color: rgba(225, 225, 225, 0.8);
}
.pa-reserved img{
    width: 13rem;
}
#mainArticle { 
    grid-area: article;     
    border-radius: 0.5rem;
    background-color: rgba(225, 225, 225, 0.3);
}
.pa-article {
    padding: 0.5rem;
}
.pa-article h2 {
    text-align: center;
}
.pa-article p {
    padding: 0.5rem;
    text-align: justify;
    background-color: rgba(0, 0, 0, 0.3);
}
.pa-article img{
    display: none;
}
.pa-article.pa-imgok img{
    display: block;
    width: 20rem;
    float: left;
    padding: 0.5rem;
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.pa-article.pa-imgok ul{
    width: 18rem;
    display: block;
    float: right;
    margin: 0 1rem;
    padding: 0.5rem;
    border: 0.05rem solid black;
    background-color: rgba(225, 225, 225, 0.5);
}
.pa-article.pa-imgok ul li{
    list-style: none;
}
.pa-article .pa-template img{
    width: 44%;
}
#mainNav { 
    grid-area: nav;
    border-radius: 0.5rem;
    background-color: rgba(225, 225, 225, 0.3);
}
.pa-nav {
    padding: 0.5rem;
}
.pa-nav h2 {
    text-align: center;
}
.pa-nav h3 {
    text-align: center;
}
.pa-navs {
    margin: .5rem;
    padding: .5rem;
    background-color: rgba(0, 0, 0, 0.3);
}
#siteAds { 
    grid-area: ads; 
    border-radius: 0.5rem;
    background-color: rgba(225, 225, 225, 0.3);
} 
.pa-siteAds {
    text-align: center;
}
.pa-siteAds img {
    width: 80%;
    padding: 0.5rem;
}
.pa-siteAds h3 {
    text-align: center;
}
.pa-ad {
    margin: .5rem;
    padding: .5rem;
    background-color: rgba(0, 0, 0, 0.3);
}
.pa-signup a {
    padding: 0.3rem 1rem;
    text-shadow: 0.1rem 0.1rem lime;
    border-radius: 0.3rem;
    background-color: silver;
    box-shadow: 0.1rem 0.1rem black;
}
.pa-signup a:hover {
    box-shadow: 0rem 0rem black;
    background-color: white;
}

/*Responsive Design*/
@media (max-width: 1680px) {
    
}
@media (max-width: 1280px) {
    .pa-content-grid { 
        grid-template-areas: 
          "header header"
          "article article"
          "nav ads"
          "footer footer";
        grid-template-rows: 5rem 1fr auto auto;  
        grid-template-columns: 1fr 1fr;
    }
    .pa-nav {
        margin: 0;
        padding: 0.5rem;
    }
    .pa-logo img{
        margin: 0;
        width: 20%;
    }
}
@media (max-width: 1024px) {
    .pa-link a{
        font-size: 2rem;
    }
}
@media (max-width: 768px) {
    .pa-content-grid { 
        grid-template-areas: 
          "header"
          "article"
          "nav"
          "ads"
          "footer";
        grid-template-rows: auto 1fr auto auto auto;  
        grid-template-columns: 1fr;
    }
    .pa-logo img{
        width: 5rem;
    }
    .pa-link {
        margin: 0.5rem;
        padding: 0.5rem;
    }
    .pa-link a {
        font-size: 1.8rem;
    }
    .pa-article .pa-template img{
        width: 95%;
    }
    .pa-article.pa-imgok img{
        display: block;
        width: 97%;
        float: left;
        padding: 0.5rem;
    }
}
@media (max-width: 600px) {
    .pa-brand {
        flex: 1;
        margin: 0rem;
        padding: 0.5rem 0.1rem;
        text-align: center;
    }
    .pa-logo img{
        width: 3.5rem;
    }
    .pa-menu {
        font-size: 3rem;
        text-align: center;
        display: block;
        flex: 1;
        margin: 0.6rem 0rem 0rem 0rem;
    }
    .pa-menu a {
        margin: 1rem;
        padding: 0.5rem;
        text-shadow: 0.1rem 0.1rem 0.1rem goldenrod;
    }
    .pa-links {
        display: block;
        width: 100%;
        -moz-transform: translateY( -500% );
        -ms-transform: translateY( -500% );
        -webkit-transform: translateY( -500% );
        transform: translateY( -500% );
        overflow: hidden;
        -webkit-transition: .60s;
        transition: .60s;
    }
    .pa-links {
        flex: 0.6;
        text-align: center;
        margin-top: 4rem;
        background-color: rgba(225, 225, 225, 0.5);
    }
    .pa-link {
        text-align: center;
        flex: 1;
        margin: 0.2rem;
        padding: 0.3rem;
    }
    .pa-link a {
        background: none;
        font-size: 1.2rem;
    }
    .pa-links.pa-resp {
        text-align: center;
        -moz-transform: none;
        -ms-transform: none;
        -webkit-transform: none;
        transform: none;
        height: auto;
    }
    .pa-docs {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 0.5rem;
    }
}
@media (max-width: 480px) {
    .pa-link a {
        margin: 0.05rem;
        padding: 0.1rem 0.3rem;
        font-size: 1rem;
    }
}
@media (max-width: 320px) {
    .pa-link a {
        font-size: 0.8rem;
    }
}